[general]
run_name = "run"



# sram size unit:	K-word
# offset unit:	word
# WordByte:	0.5, 1, 2, 4...
[architecture_presets]

ArrayHeight:	12
ArrayWidth:	14
IfmapSramSz:	108
FilterSramSz:	108
OfmapSramSz:	108
IfmapOffset:	0
FilterOffset:	10000000
OfmapOffset:	20000000
Dataflow:	ws
WordByte:	2.0
WeightBwOpt:	False
Computing:	BinarySerial


[hardware_presets]

ZeroIfmapSram:	False
ZeroFilterSram:	False
ZeroOfmapSram:	False
SramAccBuf:	False
